/* Diaporama */
.carousel
{
	display: flex;
	flex-direction: column;
	height: 700px;
}

.slides
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.pause_button
{
	align-self: center;
	margin-bottom: 100px;
}

@media all and (max-width: 1199px)
{
	.carousel
	{
		height: 750px;
	}
}

@media all and (max-width: 991px)
{
	.carousel
	{
		height: 650px;
	}
}

@media all and (max-width: 767px)
{
	.carousel
	{
		height: 600px;
	}
}

@media all and (max-width: 500px)
{
	.carousel
	{
		height: 500px;
	}
}

#carousel_item, #new_carousel_item
{
	color: white;
	background-color: #5cadd3;
	position: relative;
}

.new_carousel_item
{
	left: -1260px;
}

.carousel_container
{
	position: relative;
}

img
{
	max-width: 100%;
	max-height: 100%;
}

.carousel_prev, .carousel_next
{
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 23px;
}

/* Carte */

#mapid, #reservations
{
	height: 500px;
}

.form_item
{
	display: none;
}